<page backtop="7%" backbottom="7mm" backleft="8%" backright="10mm">
    <page_header backtop="7%" backbottom="7%" backright="-100px"  >
        <h4> <strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ laFacture.libFacture }} ( Order #  {{ laFacture.id }} )</strong></h4>
    </page_header>
    <hr>
    <page_footer>
        Page Footer
    </page_footer>
    <table>
        <tr>
            <th>Billed To   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </th>
            <th>Shipped To &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  </th>
            <th>Mode de Payement  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  </th>
            <th>Date de la facture &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  </th>
            <th>Date du devis  </th>
        </tr>
        <tr>
            <td>John Smith <br>
                1234 Main <br>
                Apt. 4B <br>
                Springfield </td>
            <td> Jane Smith<br>
            1234 Main<br>
            Apt. 4B<br>
            Springfield </td>
            <td >{{ laFacture.modeReglement.libModReglement }} <br> <br></td>
            <td >{{ laFacture.datefacture|date("m/d/Y") }}<br><br></td>
            <td > {{ laFacture.unDevis.dateDevis|date("m/d/Y") }}<br><br></td>
        </tr>
    </table>
    <br> <br>
    <hr>
    <br> <br>
    <table>
        <tr>
            <th class="desc">DESCRIPTION  </th>
            <th>PRICE &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th>QTY &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th>TOTAL &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
        </tr>
        <tr>
            <td class="desc">Creating a recognizable design solution </td>
            <td class="unit">$40.00</td>
            <td class="qty">26</td>
            <td class="total">$1,040</td>
        </tr>
        <tr>
            <td class="desc">Developing a Content Management System-based Website</td>
            <td class="unit">$40.00</td>
            <td class="qty">80</td>
            <td class="total">$3,200</td>
        </tr>
        <tr>
            <td class="desc">Optimize the site for search engines (SEO)</td>
            <td class="unit">$40.00</td>
            <td class="qty">20</td>
            <td class="total">$800</td>
        </tr>
        <tr>
            <td class="desc">Initial training sessions for staff responsible for uploading web content &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
            <td class="unit">$40.00</td>
            <td class="qty">4</td>
            <td class="total">$160</td>
        </tr>
    </table>
</page>


