{% extends "::base.html.twig" %}


{% block page_content %}
    <div class="col-lg-12">
        <h2>
           <center>Liste des Factures</center>
        </h2>




        <div class="table-responsive">
            <table style="text-align: center" class="table table-bordered table-hover" >
                <thead class="thead">
                <tr>
                    <th>ID</th>
                    <th>Libelle de la facture</th>
                    <th>Date de la facture</th>
                    <th>Taux TVA</th>
                    <th>Montant HT</th>
                    <th>Montant TTC</th>
                    <th>Montant accompte TTC</th>
                    <th> numéro chèque</th>
                    <th>Date règlement</th>
                    <th>Type facture</th>
                    <th>Montant remise</th>
                    <th>taux de remise</th>
                    <th>Date Devis</th>
                    <th>Commentaire</th>
                </tr>
                </thead>
                    <tbody>
                    {% for facture in lalisteFacture %}
                    <tr class="corps">
                        <td>{{ facture.id }}</td>
                        <td>{{ facture.libFacture }}</td>
                        <td>{{ facture.DateFacture|date('d-m-Y') }}</td>
                        <td>{{ facture.numTauxTVA }}</td>
                        <td>{{ facture.montantHT }}</td>
                        <td>{{ facture.montantTTC }}</td>
                        <td>{{ facture.montantAccompteTTC }}</td>
                        <td>{{ facture.numCheque }}</td>
                        <td>{{ facture.DateReglement|date('d-m-Y') }}</td>
                        <td>{{ facture.typeFacture }}</td>
                        <td>{{ facture.montantRemise }}</td>
                        <td>{{ facture.txRemise }}</td>
                        <td>{{ facture.DateDevis|date('d-m-Y') }}</td>
                        <td>{{ facture.commentaire }}</td>
                    </tr>
                    {% endfor %}

                    </tbody>
            </table>
        </div>
    </div>

    <style>
        .thead {
            background-color: #1ab7ea;
        }

        .corps{
            background-color: #e1e1e1;
        }

        td {
            width: 300px;
        }

    </style>
{% endblock %}

