{% extends "::base.html.twig" %}
{% block page_title %}<u> <h1><center>Consultation d'une facture</center></h1></u>{% endblock %}
{% block page_subtitle %}<small></small>{% endblock %}
{% block page_content %}

        <div class="row">
            <div class="col-lg-5">
            </div>
                <div class="col-lg-4">
                    <h4> <strong> <u> {{ laFacture.libFacture }} ( Order #  {{ laFacture.id }} ) </u></strong></h4>
                </div>
                <hr> <br> <br>
            <div class="col-lg-4">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1">
            </div>
                <div class="col-lg-2">
                    <address>
                        <strong>Billed To:</strong><br>
                        John Smith<br>
                        1234 Main<br>
                        Apt. 4B<br>
                        Springfield, ST 54321
                    </address>
                </div>
                <div class="col-lg-2">
                    <address>
                        <strong>Shipped To:</strong><br>
                        Jane Smith<br>
                        1234 Main<br>
                        Apt. 4B<br>
                        Springfield, ST 54321 <br> <br>
                    </address>
                </div>

            <div class="col-lg-2">
                <address>
                    <strong>Mode de Payement:</strong><br>
                    {{ laFacture.modeReglement.libModReglement }}
                </address>
            </div>
            <div class="col-lg-2">
                <address>
                    <strong>Etat du payement:</strong><br>
                    {% if laFacture.factureRegler == 1 %}
                        <p style="color: green; text-decoration: underline;">Facture réglé</p>
                    {% else %}
                        <p style="text-decoration: underline; color: red;">Facture non reglé</td>
                    {% endif %}
                </address>
            </div>
            <div class="col-lg-2">
                <address>
                    <strong>Date de la facture:</strong><br>
                    {{ laFacture.datefacture|date("m/d/Y") }}<br><br>
                </address>
            </div>
            <div class="col-lg-2">
                <address>
                    <strong>Date du devis:</strong><br>
                    {{ laFacture.unDevis.dateDevis|date("m/d/Y") }}<br><br>
                </address>
            </div>
            <div class="col-lg-1">
            </div>
        </div>


    <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Order summary</strong></h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-condensed">
                                <thead>
                                <tr>
                                    <td><strong>Libelle</strong></td>
                                    <td class="text-center"><strong>Taux TVA</strong></td>
                                    <td class="text-center"><strong>Montant HT</strong></td>
                                    <td class="text-right"><strong>Montant TTC</strong></td>
                                </tr>
                                </thead>
                                <tbody>
                                <!-- foreach ($order->lineItems as $line) or some such thing here -->
                                <tr>
                                    <td>{{ laFacture.libFacture }}</td>
                                    <td class="text-center">{{ laFacture.Tva.tauxTva }}</td>
                                    <td class="text-center">{{ laFacture.montantHT }}</td>
                                    <td class="text-right">{{ laFacture.montantTTC }}</td>
                                </tr>
                                <tr>
                                    <td class="thick-line"></td>
                                    <td class="thick-line"></td>
                                    <td class="thick-line text-center"><strong>Remise</strong></td>
                                    <td class="thick-line text-right">{{ laFacture.montantRemise }}</td>
                                </tr>
                                <tr>
                                    <td class="no-line"></td>
                                    <td class="no-line"></td>
                                    <td class="no-line text-center"><strong>Total</strong></td>
                                    <td class="no-line text-right">{{ laFacture.montantTTC - laFacture.montantRemise }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="row">
    <div class="col-lg-2">
    </div>
        <div class="col-lg-8">
            <a href="{{ path('facturation_facture_aff_liste') }}" class="btn btn-primary"><i class="glyphicon glyphicon-chevron-left"></i>Retour à la liste</a>
            <a href="#" class="btn btn-info"><i class="glyphicon glyphicon-edit"></i>Modifier la facture.</a>
            <a href="{{ path('facturation_afficher_facture_PDF', {'id': laFacture.id}) }}" class="btn btn-warning"><i class="glyphicon glyphicon-print"></i> Imprimer la facture</a>
            <a href="{{ path('facturation_facture_gestion_d_un_reglement', {'id': laFacture.id}) }}" class="btn btn-default"><i class="glyphicon glyphicon-btc"></i> Gestion du payement</a>
            <a href="{{ path('facturation_facture_supprimer',{'id':laFacture.id}) }}" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i>Supprimer la facture.</a>
        </div>
        <div class="col-lg-2">
        </div>
    </div>



{% endblock %}