{% extends "::base.html.twig" %}
{% block page_title %}<h1>Gestion des Reglements</h1>{% endblock %}
{% block page_subtitle %}<small></small>{% endblock %}
    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css">
    {% endblock %}
    {% block javascripts %}
        {{ parent() }}
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
        <script>
            jQuery(document).ready(function() {
                $('.js-datepicker').datepicker();
            });
        </script>
    {% endblock %}
{% block page_content %}
    <div class="container">
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.dateFacture,"Date de la Facture") }}
            {{ form_widget(form.dateFacture)}}
            {{ form_errors(form.dateFacture) }}
        </div>
        <div class="form-group">
            {{ form_label(form.numTauxTva,"Taux de TVA") }}
            {{ form_widget(form.numTauxTva)  }}
            {{ form_errors(form.numTauxTva) }}
        </div>
        <div class="form-group">
            {{ form_label(form.montantHT,"Montant Hors Taxe") }}
            {{ form_widget(form.montantHT) }}
            {{ form_errors(form.montantHT) }}
        </div>
        <div class="form-group">
            {{ form_label(form.montantTTC,"Montant Toute Taxe Comprise") }}
            {{ form_widget(form.montantTTC) }}
            {{ form_errors(form.montantTTC) }}
        </div>
        <div class="form-group">
            {{ form_label(form.montantAccompteTTC, "Montant accoompte Toute Taxe Comprise" ) }}
            {{ form_widget(form.montantAccompteTTC) }}
            {{ form_errors(form.montantAccompteTTC) }}
        </div>
        <div class="form-group">
            {{ form_label(form.numCheque, "Numéro du cheque") }}
            {{ form_widget(form.numCheque) }}
            {{ form_errors(form.numCheque) }}
        </div>
        <div class="form-group">
            {{ form_label(form.dateReglement, "Date du reglement") }}
            {{ form_widget(form.dateReglement) }}
            {{ form_errors(form.dateReglement) }}
        </div>
        <div class="form-group">
            {{ form_label(form.typeFacture,"Type de la Facture") }}
            {{ form_widget(form.typeFacture) }}
            {{ form_errors(form.typeFacture) }}
        </div>
        <div class="form-group">
            {{ form_label(form.montantRegle,"Montant déjà regler") }}
            {{ form_widget(form.montantRegle) }}
            {{ form_errors(form.montantRegle) }}
        </div>
        <div class="form-group">
            {{ form_label(form.libFacture,"Libelle de la facture") }}
            {{ form_widget(form.libFacture) }}
            {{ form_errors(form.libFacture) }}
        </div>
        <div class="form-group">
            {{ form_label(form.commentaire,"Commentaire par rapport a la facture") }}
            {{ form_widget(form.commentaire) }}
            {{ form_errors(form.commentaire) }}
        </div>
        <div class="form-group">
            {{ form_label(form.montantRemise)}}
            {{ form_widget(form.montantRemise)}}
            {{ form_errors(form.montantRemise)}}
        </div>
        <div class="form-group">
            {{ form_label(form.txRemise,"Taux de remise pour la facture") }}
            {{ form_widget(form.txRemise) }}
            {{ form_errors(form.txRemise) }}
        </div>
        <div class="form-group">
            {{ form_label(form.dateDevis,"Date du Devis") }}
            {{ form_widget(form.dateDevis) }}
            {{ form_errors(form.dateDevis) }}
        </div>
        <div class="form-group">
            {{ form_label(form.banque,"Banque associé") }}
            {{ form_widget(form.banque) }}
            {{ form_errors(form.banque) }}
        </div>
        <div class="form-group">
            {{ form_label(form.modeReglement,"Mode de réglement choisi") }}
            {{ form_widget(form.modeReglement) }}
            {{ form_errors(form.modeReglement) }}
        </div>
        <div class="form-group">
            {{ form_label(form.Tva,"Tva") }}
            {{ form_widget(form.Tva) }}
            {{ form_errors(form.Tva) }}
        </div>
        <div class="form-group">
            {{ form_label(form.facturePrestation,"Prestation") }}
            {{ form_widget(form.facturePrestation) }}
            {{ form_errors(form.facturePrestation) }}
        </div>
        <div class="form-group">
            {{ form_label(form.client,"Client") }}
            {{ form_widget(form.client) }}
            {{ form_errors(form.client) }}
        </div>
        <button type="submit">Ajouter !</button>
        {{ form_end(form) }}
    </div>


{% endblock %}