{% extends "::base.html.twig" %}
{% block page_title %}<center> <u>  <h1> Gestion du réglement de la facture n°{{ laFacture.id }} </h1> </u> </center> {% endblock %}
{% block page_subtitle %}{% endblock %}
{% block page_content %}

    <div class="col-lg-6">

        <form class="form-inline" method="post">
            <div class="form-group">
                <label for="sel1">Méthode de Payement:</label>
                <select class="form-control" id="methode" name="methode">
                    <option>Paypal</option>
                    <option>Cheque</option>
                    <option>Espece</option>
                    <option>Virement Bancaire</option>
                </select>
                <div class="checkbox">
                    <label><input type="checkbox" value="regler" name="regler">A réglé.</label>
                </div>
            </div>
            <button type="submit" class="btn btn-success">Valider le payement</button>
        </form>













        {#<table class="table table-bordered table-hover">#}
            {#<thead>#}
            {#<tr>#}
                {#<th>Libelle</th>#}
                {#<th>Montant TTC</th>#}
                {#<th>Date facture</th>#}
                {#<th>Taux de remise</th>#}
                {#<th>Reglé</th>#}
            {#</tr>#}
            {#</thead>#}
            {#{% for facture in lesFactures %}#}
                {#<tbody>#}
                {#<tr>#}
                    {#<td><a href="{{ path('facturation_afficher_facture', {'id': facture.id}) }}">{{ facture.libFacture }}</a></td>#}
                    {#<td>{{ facture.montantTTC }}</td>#}
                    {#<td>{{ facture.dateFacture|date('d-m-Y') }}</td>#}
                    {#<td>{{ facture.txRemise }}</td>#}
                    {#{% if facture.factureRegler == 1 %}#}
                        {#<td style="color: green; text-decoration: underline;">Facture réglé</td>#}
                    {#{% else %}#}
                        {#<td style="text-decoration: underline; color: red;">Facture non reglé</td>#}
                    {#{% endif %}#}
                {#</tr>#}
                {#</tbody>#}
            {#{% else %}#}
                {#<td>Pas de projet</td>#}
            {#{% endfor %}#}
        {#</table>#}
    </div>

{% endblock %}